<h1><%= t(:new_issue) %></h1>

<% form_tag(issues_path, :method => :post) do %>

  <%= label_tag :issue_title, t(:issue_title) %>
  <%= text_field_tag 'issue[title]' %>

  <hr class="space"/>

  <%= label_tag :issue_body, t(:issue_body) %>
  <%= text_area_tag 'issue[body]' %>

  <hr class="space"/>

  <%= submit_tag t(:report) %> <%= t :or %> <%= link_to(t(:cancel), "#", :class => "quiet cancel") %>

<% end %>
