<div id="valencies-edit-template">
<!--
<div id="/valencies/#{valency.id}/edit" class="subentry-edit span-22 last"
     style="display: none;">

  <hr class="space"/>

  <% form_tag('500.html', :method => :put) do -%>

    <div class="span-4 append-bottom" style="text-align: right">
      <strong><%= t(:form) %></strong><span class="required">*</span>
    </div>
    <div class="span-7">
      <%= text_field_tag "valency[form1]", '#{valency.form1}', :class => "span-7" %>
    </div>
    <div class="span-7">
      <%= text_field_tag "valency[form2]", '#{valency.form2}', :class => "span-7" %>
    </div>
    <div class="quiet span-4 last">
    </div>

    <div class="span-4 append-bottom clear" style="text-align: right">
      <strong><%= t(:syntax) %></strong><span class="required">*</span>
    </div>
    <div class="span-7">
      <%= text_field_tag "valency[syntax1]", '#{valency.syntax1}',
            :class => "span-7 mirror-input to-valency_syntax2" %>
    </div>
    <div class="span-7">
      <%= text_field_tag "valency[syntax2]", '#{valency.syntax2}', :class => "span-7" %>
    </div>
    <div class="quiet span-4 last">
    </div>


    <div class="span-4 append-bottom clear" style="text-align: right">
      <strong><%= t(:synonym) %></strong>
    </div>
    <div class="span-7">
      <%= text_field_tag "valency[synonym1]", '#{valency.synonym1}', :class => "span-7" %>
    </div>
    <div class="span-7">
      <%= text_field_tag "valency[synonym2]", '#{valency.synonym2}', :class => "span-7" %>
    </div>
    <div class="quiet span-4 last">
    </div>


    <div class="span-4 append-bottom clear" style="text-align: right">
      <strong><%= t(:meanings) %></strong>
    </div>
    <div class="span-14">
      <%= text_field_tag "valency[meaning_list]", '#{valency.meaning_list}', :class => "span-14" %>
    </div>
    <div class="quiet span-4 last">
      <%= t :comma_separated %>
    </div>

    <div class="push-4 span-18 clear last">
      <button class="submit">
        <%= image_tag 'icons/tick.png' %>
        <%= t(:save) %>
      </button>
      <button class="cancel">
        <%= image_tag 'icons/cross.png' %>
        <%= t(:cancel) %>
      </button>
    </div>


  <% end %>
</div>
-->
</div>
