<% form_for([@lemma, @valency]) do |f| %>
  <%= f.error_messages %>

  <table>
    <thead>
      <tr>
        <td></td>
        <th>Englisch</th>
        <th>Deutsch</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row"><%= t :form %><span class="required">*</span></th>
        <td><%= f.text_field :form1 %></td>
        <td><%= f.text_field :form2 %></td>
      </tr>

      <tr>
        <th scope="row"><%= t :syntax %><span class="required">*</span></th>
        <td><%= f.text_field :syntax1, :class => "mirror-input to-collocation_syntax2" %></td>
        <td><%= f.text_field :syntax2 %></td>
      </tr>

      <tr>
        <th scope="row"><%= t :synonym %></th>
        <td><%= f.text_field :synonym1 %></td>
        <td><%= f.text_field :synonym2 %></td>
      </tr>

      <tr>
        <th scope="row"><%= t :meanings %></th>
        <td><%= f.text_field :meaning_list %></td>
        <td class="quiet">
          <%= t :comma_separated %>
        </td>
      </tr>

    </tbody>
  </table>

  <p>
    <% if @valency.new_record? -%>
      <%= f.submit t(:create) %>
    <% else -%>
      <%= f.submit t(:edit) %>
    <% end %>
    <%= t :or %>
    <%= link_to t(:cancel), @valency.lemma %>
  </p>
<% end %>

