<li id="<%= collocation_path(collocation) %>" class="collocation span-24 last">

  <div class="subentry span-24 last">

    <div class="span-5">
      C:
      <% if collocation.syntax1.present? -%>
        <span class="syntax"><%= h collocation.syntax1 %>;</span>
      <% end %>
      <% if collocation.synonym1.present? -%>
        <span class="synonym">syn: <%= h collocation.synonym1 %>;</span>
      <% end %>
      <% if collocation.meanings.present? -%>
        mg:
        <% collocation.meanings.each do |meaning| -%>
          <a class="meaning tag"><%= h meaning.name %></a>
        <% end %>
      <% end %>
    </div>


    <div class="span-6 form1">
      <%= h collocation.form1 %>
    </div>

    <div class="span-6 form2">
      <%= h collocation.form2 %>
    </div>

    <div class="span-5">
      C:
      <% if collocation.syntax2.present? -%>
        <span class="syntax"><%= h collocation.syntax2 %>;</span>
      <% end %>
      <% if collocation.synonym2.present? -%>
        <span class="synonym">syn: <%= h collocation.synonym2 %>;</span>
      <% end %>
    </div>


    <div class="span-2 last">
      <% if current_user_is_admin then %>
        <a class="multi-button cmd-edit cmd-delete cmd-add-example" href="#"><span></span></a>
      <% else %>
        &nbsp;
      <% end %>
    </div>

  </div>

  <ol class="examples">
    <%= render :partial => "lemmata/example",
               :collection => collocation.examples,
               :locals => { :exampleable => collocation } %>
  </ol
</li>
