<li id="<%= path_to_id(collocation_path(collocation)) %>"
    class="collocation column span-24 last">

  <div class="subentry span-24 last">

    <%= render :partial => "subentries/margin",
               :locals => {
                 :subentry => collocation,
                 :side => 1
               } %>

    <div class="span-6 form1">
      <%= underline collocation.form1 %>
    </div>

    <div class="span-6 form2">
      <%= underline collocation.form2 %>
    </div>

    <%= render :partial => "subentries/margin",
               :locals => {
                 :subentry => collocation,
                 :side => 2
               } %>

    <%= render :partial => 'lemmata/subentry_margin',
               :locals => { :cmds => %w"edit deleteEntry addExample sortEntries" } %>

  </div>

  <ol id="<%= path_to_id(collocation_examples_path(collocation)) %>"
      class="examples">
    <%= render :partial => "lemmata/example",
               :collection => collocation.examples,
               :locals => { :exampleable => collocation } %>
  </ol
</li>
