<div id="<%= example_path(example) %>" class="example span-24 last">

  <div class="subentry span-24 last">

    <div class="span-2">
      <% if current_user_is_admin then %>
        <a class="multi-button cmd-edit cmd-delete" href="#"><span></span></a>
      <% else %>
        &nbsp;
      <% end %>
    </div>

    <div class="span-5">
      <% if example.syntax1.present? -%>
        <span class="syntax"><%= h example.syntax1 %></span>
      <% end %>
      <% if example.synonym1.present? -%>
        <span class="synonym">syn: <%= h example.synonym1 %></span>
      <% end %>
      &nbsp;
    </div>

    <div class="example-form span-6">
      <%= h example.form1 %>
    </div>

    <div class="example-form span-6">
      <%= h example.form2 %>
    </div>

    <div class="span-5 last">
      <% if example.syntax2.present? -%>
        <span class="syntax"><%= h example.syntax2 %></span>
      <% end %>
      <% if example.synonym2.present? -%>
        <span class="synonym">syn: <%= h example.synonym2 %></span>
      <% end %>
      &nbsp;
    </div>

  </div>

</div>
