<% form_for(@lemma) do |f| %>

  <div class="span-24 last">

    <!-- TODO -->
    <%= f.error_messages %>

    <div class="span-6">&nbsp;</div>
    <div class="span-9 language"><%= t :english %></div>
    <div class="span-9 language last"><%= t :german %></div>

    <div class="span-6 attribute"><%= t :lemma_short %><span class="required">*</span></div>
    <div class="span-9"><%= f.text_field :short1 %></div>
    <div class="span-9 last"><%= f.text_field :short2 %></div>

    <div class="span-6 attribute"><%= t :lemma_long %><span class="required">*</span></div>
    <div class="span-9"><%= f.text_field :long1 %></div>
    <div class="span-9 last"><%= f.text_field :long2 %></div>

    <div class="span-6 attribute"><%= t :lemma_phonetic %><span class="required">*</span></div>
    <div class="span-9"><%= f.text_field :phonetic1 %></div>
    <div class="span-9 last"><%= f.text_field :phonetic2 %></div>

    <div class="span-6 attribute"><%= t :synonym %></div>
    <div class="span-9"><%= f.text_field :synonym1 %></div>
    <div class="span-9 last"><%= f.text_field :synonym2 %></div>

    <div class="span-6 attribute"><%= t :lemma_level %></div>
    <div class="span-9">
      <%= t :lemma_level_rezeptiv %>:  <%= f.select :level_rezeptiv,   Lemma::LEVELS %>
    </div>
    <div class="span-9 last">
      <%= t :lemma_level_produktiv %>: <%= f.select :level_produktiv,  Lemma::LEVELS %>
    </div>

    <div class="span-6 attribute"><%= t :lemma_categories %></div>
    <div class="span-18 last">
      <% if @lemma_categories.present? -%>
        <%= select_tag "lemma_categories",
                        options_for_select(nested_set_options(Category) {|i| "#{'-' * i.level} #{i.name}" },
                                          @lemma_categories.collect{|i| i.id}),
                        {:multiple => :multiple, :size => 5, :name => "lemma[category_ids][]"} %>
      <% else -%>
        <span class="quiet lemma_categories"><%= t :categories_missing %></span>
      <% end %>
    </div>

    <div class="span-6 attribute"><%= t :lemma_word_class %></div>
    <div class="span-9"><%= f.select :word_class1, Lemma::WORD_CLASSES %></div>
    <div class="span-9 last"><%= f.select :word_class2, Lemma::WORD_CLASSES %></div>

    <div id="additional-n" style="display: none;">
      <div class="span-6 attribute"><%= t :gender %></div>
      <div class="form1 span-9">
        <% Lemma::GENDERS.each do |gender| -%>
          <%= f.radio_button :gender1, gender %><%= f.label(:gender1, gender) %>
        <% end %>
      </div>
      <div class="form1 span-9 last">
        <% Lemma::GENDERS.each do |gender| -%>
          <%= f.radio_button :gender2, gender %><%= f.label(:gender2, gender) %>
        <% end %>
      </div>

      <div class="span-6 attribute"><% t :singular_genitive %></div>
      <div class="form1 span-9"><%= f.text_field :singular_genitive1 %></div>
      <div class="form2 span-9 last"><%= f.text_field :singular_genitive2 %></div>

      <div class="span-6 attribute"><%= t :plural %></div>
      <div class="form1 span-9"><%= f.text_field :plural1 %></div>
      <div class="form2 span-9 last"><%= f.text_field :plural2 %></div>

      <div class="span-6 attribute"><%= t :singular_only %></div>
      <div class="form1 span-9"><%= f.check_box :singular_only1 %></div>
      <div class="form2 span-9 last"><%= f.check_box :singular_only2 %></div>

      <div class="span-6 attribute"><%= t :collective %></div>
      <div class="form1 span-9"><%= f.check_box :collective1 %></div>
      <div class="form2 span-9 last"><%= f.check_box :collective2 %></div>

      <div class="span-6 attribute"><%= t :compound %></div>
      <div class="form1 span-9"><%= f.check_box :compound1 %></div>
      <div class="form2 span-9 last"><%= f.check_box :compound2 %></div>

      <div class="span-6 attribute"><%= t :female_form %></div>
      <div class="form1 span-9"><%= f.text_field :female_form1 %></div>
      <div class="form2 span-9 last"><%= f.text_field :female_form2 %></div>
    </div>


    <div id="additional-v" style="display: none;">
      <div class="span-6 attribute"><%= t :auxiliary %></div>
      <div class="form1 span-9"><%= f.check_box :auxiliary1 %></div>
      <div class="form2 span-9 last"><%= f.check_box :auxiliary2 %></div>

      <div class="span-6 attribute"><%= t :present_tense %></div>
      <div class="form1 span-9"><%= f.text_field :present_tense1 %></div>
      <div class="form2 span-9 last"><%= f.text_field :present_tense2 %></div>

      <div class="span-6 attribute"><%= t :past_tense %></div>
      <div class="form1 span-9"><%= f.text_field :past_tense1 %></div>
      <div class="form2 span-9 last"><%= f.text_field :past_tense2 %></div>

      <div class="span-6 attribute"><%= t :past_participle %></div>
      <div class="form1 span-9"><%= f.text_field :past_participle1 %></div>
      <div class="form2 span-9 last"><%= f.text_field :past_participle2 %></div>

      <div class="span-6 attribute"><%= t :reflexive %></div>
      <div class="form1 span-9"><%= f.check_box :reflexive1 %></div>
      <div class="form2 span-9 last"><%= f.check_box :reflexive2 %></div>

      <div class="span-6 attribute"><%= t :regular %></div>
      <div class="form1 span-9"><%= f.check_box :regular1 %></div>
      <div class="form2 span-9 last"><%= f.check_box :regular2 %></div>

      <div class="span-6 attribute"><%= t :irregular %></div>
      <div class="form1 span-9"><%= f.check_box :irregular1 %></div>
      <div class="form2 span-9 last"><%= f.check_box :irregular2 %></div>

      <div class="span-6 attribute"><%= t :transitive %></div>
      <div class="form1 span-9"><%= f.check_box :transitive1 %></div>
      <div class="form2 span-9 last"><%= f.check_box :transitive2 %></div>

      <div class="span-6 attribute"><%= t :intransitive %></div>
      <div class="form1 span-9"><%= f.check_box :intransitive1 %></div>
      <div class="form2 span-9 last"><%= f.check_box :intransitive2 %></div>

      <div class="span-6 attribute"><%= t :perfekt_haben %></div>
      <div class="form2 prepend-9 span-9 last"><%= f.check_box :perfekt_haben %></div>

      <div class="span-6 attribute"><%= t :perfekt_sein %></div>
      <div class="form2 prepend-9 span-9 last"><%= f.check_box :perfekt_sein %></div>

      <div class="span-6 attribute"><%= t :partikel_trennbar %></div>
      <div class="form2 prepend-9 span-9 last"><%= f.check_box :partikel_trennbar %></div>

      <div class="span-6 attribute"><%= t :hat_ge %></div>
      <div class="form2 prepend-9 span-9 last"><%= f.check_box :hat_ge %></div>

    </div>

    <div id="additional-adj" style="display: none;">

      <div class="span-6 attribute"><%= t :comparative %></div>
      <div class="form1 span-9"><%= f.text_field :comparative1 %></div>
      <div class="form2 span-9 last"><%= f.text_field :comparative2 %></div>

      <div class="span-6 attribute"><%= t :superlative %></div>
      <div class="form1 span-9"><%= f.text_field :superlative1 %></div>
      <div class="form2 span-9 last"><%= f.text_field :superlative2 %></div>

      <div class="span-6 attribute"><%= t :predicative %></div>
      <div class="form1 span-9"><%= f.check_box :predicative1 %></div>
      <div class="form2 span-9 last"><%= f.check_box :predicative2 %></div>

      <div class="span-6 attribute"><%= t :attributive %></div>
      <div class="form1 span-9"><%= f.check_box :attributive1 %></div>
      <div class="form2 span-9 last"><%= f.check_box :attributive2 %></div>

    </div>


    <div class="span-18 prepend-6 last">
      <% if @lemma.new_record? -%>
        <%= f.submit t(:create) %>
        <%= t :or %>
        <%= link_to t(:cancel), lemmata_path %>
      <% else -%>
        <%= f.submit t(:edit) %>
        <%= t :or %>
        <%= link_to t(:cancel), @lemma %>
      <% end %>
    </div>


  </div>

<% end %>

<style>
.span-9 {
  vertical-align: middle;
}

/* TODO */
.attribute {
  font-weight: bold;
  background-color: #C9EDF4;
  clear: left;
  height: 3em;
}

.language {
  font-weight: bold;
  background-color: #C9EDF4;
  height: 3em;
  vertical-align: middle;
  margin-bottom: 1.5em;
}
</style>

