<% form_for([@category, @lemma]) do |f| %>
  <%= f.error_messages %>

  <table>

    <thead>
      <tr>
        <td></td>
        <th>Englisch</th>
        <th>Deutsch</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row"><%= t :lemma_short %></th>
        <td><%= f.text_field :short1 %></td>
        <td><%= f.text_field :short2 %></td>
      </tr>

      <tr>
        <th scope="row"><%= t :lemma_long %></th>
        <td><%= f.text_field :long1 %></td>
        <td><%= f.text_field :long2 %></td>
      </tr>

      <tr>
        <th scope="row"><%= t :lemma_phonetic %></th>
        <td><%= f.text_field :phonetic1 %></td>
        <td><%= f.text_field :phonetic2 %></td>
      </tr>

      <tr>
        <th scope="row"><%= t :lemma_class %></th>
        <td><%= f.text_field :class1 %></td>
        <td><%= f.text_field :class2 %></td>
      </tr>

      <tr>
        <th scope="row"><%= t :lemma_level %></th>
        <td><%= f.text_field :level1 %></td>
        <td><%= f.text_field :level2 %></td>
      </tr>
    </tbody>
  </table>

  <p>
    <% if @lemma.new_record? -%>
      <%= f.submit t(:create) %>
      <%= link_to t(:cancel), @category %>
    <% else -%>
      <%= f.submit t(:edit) %>
      <%= link_to t(:cancel), @lemma %>
    <% end %>
  </p>
<% end %>

