<% form_for(@lemma) do |f| %>

  <div class="span-24 last">

    <!-- TODO -->
    <%= f.error_messages %>

    <div class="span-6">&nbsp;</div>
    <div class="span-9 language"><%= t :english %></div>
    <div class="span-9 language last"><%= t :german %></div>

    <div class="span-6 attribute"><%= t :lemma_short %><span class="required">*</span></div>
    <div class="span-9"><%= f.text_field :short1 %></div>
    <div class="span-9 last"><%= f.text_field :short2 %></div>

    <div class="span-6 attribute"><%= t :lemma_long %><span class="required">*</span></div>
    <div class="span-9"><%= f.text_field :long1 %></div>
    <div class="span-9 last"><%= f.text_field :long2 %></div>

    <div class="span-6 attribute"><%= t :lemma_phonetic %></div>
    <div class="span-9"><%= f.text_field :phonetic1 %></div>
    <div class="span-9 last"><%= f.text_field :phonetic2 %></div>

    <div class="span-6 attribute"><%= t :synonym %></div>
    <div class="span-9"><%= f.text_field :synonym1 %></div>
    <div class="span-9 last"><%= f.text_field :synonym2 %></div>

    <div class="span-6 attribute"><%= t :lemma_level %></div>
    <div class="span-18 last">
      <%= f.label(:level_rezeptiv, t(:lemma_level_rezeptiv)) %>
      <%= f.select :level_rezeptiv,   Lemma::LEVELS %>
      <%= f.label(:level_produktiv, t(:lemma_level_produktiv)) %>
      <%= f.select :level_produktiv,   Lemma::LEVELS %>
    </div>

    <div class="span-6 attribute">
      <%= t :lemma_categories %><span class="required">*</span>
    </div>
    <div class="span-18 last">
      <% if @categories.present? -%>
        <%
        options = options_for_select(nested_set_options(Category) {|i| "#{'-' * i.level} #{i.name}" },
                                     @lemma.categories.collect{|i| i.id})
        select = select_tag "lemma_categories", options, {:multiple => :multiple, :size => 5, :name => "lemma[category_ids][]", :class => "span-9"}

        if @lemma.errors.on(:categories)
          select = ActionView::Base.field_error_proc.call(select)
        end
        %>

        <%= select %>

      <% else -%>
        <span class="quiet lemma_categories"><%= t :categories_missing %></span>
      <% end %>
    </div>

    <div class="span-6 attribute"><%= t :lemma_word_class %></div>
    <div class="span-9"><%= f.select :word_class1, Lemma.word_classes(:en) %></div>
    <div class="span-9 last"><%= f.select :word_class2, Lemma.word_classes(:de) %></div>

    <div id="additional-n" style="display: none;">
      <div class="span-6 attribute"><%= t :gender %></div>
      <div class="form1 span-9">
        <% Lemma::GENDERS.each do |gender| -%>
          <%= f.radio_button :gender1, gender %><%= f.label(:gender1, gender) %>
        <% end %>
      </div>
      <div class="form2 span-9 last">
        <% Lemma::GENDERS.each do |gender| -%>
          <%= f.radio_button :gender2, gender %><%= f.label(:gender2, gender) %>
        <% end %>
      </div>

      <div class="span-6 attribute"><%= t :female_form %></div>
      <div class="form1 span-9"><%= f.text_field :female_form1 %></div>
      <div class="form2 span-9 last"><%= f.text_field :female_form2 %></div>

      <div class="span-6 attribute"><%= t :singular_genitive %></div>
      <div class="form1 span-9"><%= f.text_field :singular_genitive1 %></div>
      <div class="form2 span-9 last"><%= f.text_field :singular_genitive2 %></div>

      <div class="span-6 attribute"><%= t :plural %></div>
      <div class="form1 span-9"><%= f.text_field :plural1 %></div>
      <div class="form2 span-9 last"><%= f.text_field :plural2 %></div>

      <div class="span-6 attribute"><%= t :singular_only %></div>
      <div class="form1 span-9">
        <%= f.check_box :singular_only1 %>
        <%= f.label(:singular_only1, t(:singular_only)) %>
      </div>
      <div class="form2 span-9 last">
        <%= f.check_box :singular_only2 %>
        <%= f.label(:singular_only2, t(:singular_only)) %>
      </div>

      <div class="span-6 attribute"><%= t :collective %></div>
      <div class="form1 span-9">
        <%= f.check_box :collective1 %>
        <%= f.label(:collective1, t(:collective)) %>
      </div>
      <div class="form2 span-9 last">
        <%= f.check_box :collective2 %>
        <%= f.label(:collective2, t(:collective)) %>
      </div>

      <div class="span-6 attribute"><%= t :countability %></div>
      <div class="form1 span-9">
        <%= f.check_box :countable1 %>
        <%= f.label(:countable1, t(:countable)) %>
      </div>
      <div class="form2 span-9 last">
        <%= f.check_box :countable2 %>
        <%= f.label(:countable2, t(:countable)) %>
      </div>

    </div>


    <div id="additional-v" style="display: none;">
      <div class="span-6 attribute"><%= t :auxiliary %></div>
      <div class="form1 span-9">
        <%= f.check_box :auxiliary1 %>
        <%= f.label(:auxiliary1, t(:auxiliary)) %>
      </div>
      <div class="form2 span-9 last">
        <%= f.check_box :auxiliary2 %>
        <%= f.label(:auxiliary2, t(:auxiliary)) %>
      </div>

      <div class="span-6 attribute"><%= t :present_tense %></div>
      <div class="form1 span-9"><%= f.text_field :present_tense1 %></div>
      <div class="form2 span-9 last"><%= f.text_field :present_tense2 %></div>

      <div class="span-6 attribute"><%= t :past_tense %></div>
      <div class="form1 span-9"><%= f.text_field :past_tense1 %></div>
      <div class="form2 span-9 last"><%= f.text_field :past_tense2 %></div>

      <div class="span-6 attribute"><%= t :present_participle %></div>
      <div class="form1 span-9"><%= f.text_field :present_participle1 %></div>
      <div class="form2 span-9 last"><%= f.text_field :present_participle2 %></div>

      <div class="span-6 attribute"><%= t :past_participle %></div>
      <div class="form1 span-9"><%= f.text_field :past_participle1 %></div>
      <div class="form2 span-9 last"><%= f.text_field :past_participle2 %></div>

      <div class="span-6 attribute"><%= t :reflexive %></div>
      <div class="form1 span-9">
        <%= f.check_box :reflexive1 %>
        <%= f.label(:reflexive1, t(:reflexive)) %>
      </div>
      <div class="form2 span-9 last">
        <%= f.check_box :reflexive2 %>
        <%= f.label(:reflexive2, t(:reflexive)) %>
      </div>

      <div class="span-6 attribute"><%= t :regularity %></div>
      <div class="form1 span-9">
        <%= f.check_box :regular1 %>
        <%= f.label(:regular1, t(:regular)) %>
        <%= f.check_box :irregular1 %>
        <%= f.label(:irregular1, t(:irregular)) %>
      </div>
      <div class="form2 span-9 last">
        <%= f.check_box :regular2 %>
        <%= f.label(:regular2, t(:regular)) %>
        <%= f.check_box :irregular2 %>
        <%= f.label(:irregular2, t(:irregular)) %>
      </div>

      <div class="span-6 attribute"><%= t :transitivity %></div>
      <div class="form1 span-9">
        <%= f.check_box :transitive1 %>
        <%= f.label(:transitive1, t(:transitive)) %>
        <%= f.check_box :intransitive1 %>
        <%= f.label(:intransitive1, t(:intransitive)) %>
      </div>
      <div class="form2 span-9 last">
        <%= f.check_box :transitive2 %>
        <%= f.label(:transitive2, t(:transitive)) %>
        <%= f.check_box :intransitive2 %>
        <%= f.label(:intransitive2, t(:intransitive)) %>
      </div>

      <div class="span-6 attribute"><%= t :perfekt_haben %></div>
      <div class="form2 prepend-9 span-9 last">
        <%= f.check_box :perfekt_haben %>
        <%= f.label(:perfekt_haben, t(:perfekt_haben)) %>
      </div>

      <div class="span-6 attribute"><%= t :perfekt_sein %></div>
      <div class="form2 prepend-9 span-9 last">
        <%= f.check_box :perfekt_sein %>
        <%= f.label(:perfekt_sein, t(:perfekt_sein)) %>
      </div>

      <div class="span-6 attribute"><%= t :partikel_trennbar %></div>
      <div class="form2 prepend-9 span-9 last">
        <%= f.check_box :partikel_trennbar %>
        <%= f.label(:partikel_trennbar, t(:partikel_trennbar)) %>
      </div>

      <div class="span-6 attribute"><%= t :hat_ge %></div>
      <div class="form2 prepend-9 span-9 last">
        <%= f.radio_button :hat_ge, "true" %><%= f.label(:hat_ge, t(:hat_ge)) %>
        <%= f.radio_button :hat_ge, "false" %><%= f.label(:hat_ge, t(:kein_ge)) %>
      </div>

    </div>

    <div id="additional-adj" style="display: none;">

      <div class="span-6 attribute"><%= t :comparative %></div>
      <div class="form1 span-9"><%= f.text_field :comparative1 %></div>
      <div class="form2 span-9 last"><%= f.text_field :comparative2 %></div>

      <div class="span-6 attribute"><%= t :superlative %></div>
      <div class="form1 span-9"><%= f.text_field :superlative1 %></div>
      <div class="form2 span-9 last"><%= f.text_field :superlative2 %></div>

      <div class="span-6 attribute"><%= t :predicative %></div>
      <div class="form1 span-9">
        <%= f.check_box :predicative1 %>
        <%= f.label(:predicative1, t(:predicative)) %>
      </div>
      <div class="form2 span-9 last">
        <%= f.check_box :predicative2 %>
        <%= f.label(:predicative2, t(:predicative)) %>
      </div>

      <div class="span-6 attribute"><%= t :attributive %></div>
      <div class="form1 span-9">
        <%= f.check_box :attributive1 %>
        <%= f.label(:attributive1, t(:attributive)) %>
      </div>
      <div class="form2 span-9 last">
        <%= f.check_box :attributive2 %>
        <%= f.label(:attributive2, t(:attributive)) %>
      </div>

    </div>


    <div class="span-18 prepend-6 last">
      <% if @lemma.new_record? -%>
        <%= f.submit t(:create) %>
        <%= t :or %>
        <%= link_to t(:cancel), lemmata_path %>
      <% else -%>
        <%= f.submit t(:edit) %>
        <%= t :or %>
        <%= link_to t(:cancel), @lemma %>
      <% end %>
    </div>


  </div>

<% end %>
