<% form_for(@lemma) do |f| %>
  <%= f.error_messages %>

  <table>

    <thead>
      <tr>
        <td></td>
        <th>Englisch</th>
        <th>Deutsch</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row"><%= t :lemma_short %><span class="required">*</span></th>
        <td><%= f.text_field :short1 %></td>
        <td><%= f.text_field :short2 %></td>
      </tr>

      <tr>
        <th scope="row"><%= t :lemma_long %><span class="required">*</span></th>
        <td><%= f.text_field :long1 %></td>
        <td><%= f.text_field :long2 %></td>
      </tr>

      <tr>
        <th scope="row"><%= t :lemma_phonetic %></th>
        <td><%= f.text_field :phonetic1 %></td>
        <td><%= f.text_field :phonetic2 %></td>
      </tr>

      <tr>
        <th scope="row"><%= t :lemma_word_class %></th>
        <td colspan="2">
          <%= f.select :word_class, Lemma::WORD_CLASSES %>
        </td>
      </tr>

      <tr>
        <th scope="row"><%= t :lemma_level %></th>
        <td><%= t :lemma_level_rezeptiv %>:  <%= f.select :level_rezeptiv,   Lemma::LEVELS %></td>
        <td><%= t :lemma_level_produktiv %>: <%= f.select :level_produktiv,  Lemma::LEVELS %></td>
      </tr>

      <tr>
        <th scope="row"><%= t :lemma_categories %></th>
        <td colspan="2">
           <%= select_tag "lemma_categories",
                          options_for_select(nested_set_options(Category) {|i| "#{'-' * i.level} #{i.name}" },
                                             @lemma_categories.collect{|i| i.id}),
                          {:multiple => :multiple, :size => 5, :name => "lemma[category_ids][]"} %>
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    <% if @lemma.new_record? -%>
      <%= f.submit t(:create) %>
      <%= t :or %>
      <%= link_to t(:cancel), lemmata_path %>
    <% else -%>
      <%= f.submit t(:edit) %>
      <%= t :or %>
      <%= link_to t(:cancel), @lemma %>
    <% end %>
  </p>
<% end %>

