<div class="entry span-24">

  <h1>
    <span class="quiet"><%= t(:lemma) %></span>
    <%= underline @lemma.short1 %> · <%= underline @lemma.short2 %>
  </h1>

  <ul class="categories">
    <% @lemma.categories.each do |category| -%>
    <li>
        <ul class="ancestors">
          <% category.self_and_ancestors.each_with_index do |node, index| -%>
            <li>
              <%= ">"  if index > 0 %>
              <%= link_to h(node.name), node %>
            </li>
          <% end %>
        </ul>
    </li>
    <% end %>
  </ul>

  <div class="entry-line span-24">

    <%= render :partial => "lemmata/margin",
               :locals => { :side => 1 } %>

    <div class="span-6 form1">
      <%= underline @lemma.long1 %>
    </div>
    <div class="span-6 form2">
      <%= underline @lemma.long2 %>
    </div>

    <%= render :partial => "lemmata/margin",
               :locals => { :side => 2 } %>

    <div class="span-2 last">
      <% if current_user_is_admin then %>
        <a class="multi-button cmd-editLemma cmd-deleteEntry cmd-addExample cmd-addValency"
           href="#"><span></span></a>
      <% else %>
        &nbsp;
      <% end %>
    </div>

  </div>
</div>

