<div style="display: none;" id="multi-button-menu">
  <div>
    <ul class="multi-button-drop-down">
      <li class="cmd-edit"><a href="#"><%= t(:edit) %></a></li>
      <li class="cmd-editLemma"><a href="#"><%= t(:edit) %></a></li>
      <li class="cmd-deleteEntry"><a href="#"><%= t(:delete) %></a></li>
      <li class="cmd-addExample"><a href="#"><%= t(:add_example) %></a></li>
      <li class="cmd-addCollocation"><a href="#"><%= t(:add_collocation) %></a></li>
      <li class="cmd-addValency"><a href="#"><%= t(:add_valency) %></a></li>
      <li class="cmd-addPhraseologism"><a href="#"><%= t(:add_phraseologism) %></a></li>
      <li class="cmd-sortEntries"><a href="#"><%= t(:sort) %></a></li>
    </ul>
  </div>
</div>

