<div style="display: none;" id="multi-button-menu">
  <div>
    <ul class="multi-button-drop-down">
      <li class="cmd-edit"><a href="#"><%= t(:edit) %></a></li>
      <li class="cmd-edit-lemma"><a href="#"><%= t(:edit) %></a></li>
      <li class="cmd-delete"><a href="#"><%= t(:delete) %></a></li>
      <li class="cmd-add-example"><a href="#"><%= t(:add_example) %></a></li>
      <li class="cmd-add-valency"><a href="#"><%= t(:add_valency) %></a></li>
    </ul>
  </div>
</div>

