<li id="<%= path_to_id(phraseologism_path(phraseologism)) %>"
    class="phraseologism column span-24 last">

  <div class="subentry span-24 last">

    <%= render :partial => "subentries/margin",
               :locals => {
                 :subentry => phraseologism,
                 :side => 1
               } %>

    <div class="span-6 form1">
      <%= underline phraseologism.form1 %>
    </div>

    <div class="span-6 form2">
      <%= underline phraseologism.form2 %>
    </div>

    <%= render :partial => "subentries/margin",
               :locals => {
                 :subentry => phraseologism,
                 :side => 2
               } %>

    <%= render :partial => 'lemmata/subentry_margin',
               :locals => { :cmds => %w"edit deleteEntry addExample sortEntries" } %>

  </div>

  <ol id="<%= path_to_id(phraseologism_examples_path(phraseologism)) %>"
      class="examples">
    <%= render :partial => "lemmata/example",
               :collection => phraseologism.examples,
               :locals => { :exampleable => phraseologism } %>
  </ol>

</li>

