<li id="<%= valency_path(valency) %>" class="valency column span-24 last">

  <div class="subentry span-24 last">

    <div class="span-5">
      vp:
      <span class="syntax"><%= h valency.syntax1 %>;</span>
      <% if valency.synonym1.present? -%>
        <span class="synonym">syn: <%= h valency.synonym1 %>;</span>
      <% end %>
      <% if valency.meaning_list.present? -%>
        <%= render :partial => "lemmata/meanings", :object => valency.meanings %>
      <% end %>
    </div>

    <div class="span-6 form1">
      <%= h valency.form1 %>
    </div>

    <div class="span-6 form2">
      <%= h valency.form2 %>
    </div>

    <div class="span-5">
      vp:
      <span class="syntax"><%= h valency.syntax2 %>;</span>
      <% if valency.synonym2.present? -%>
        <span class="synonym">syn: <%= h valency.synonym2 %>;</span>
      <% end %>
    </div>

    <div class="span-2 last">
      <% if current_user_is_admin then %>
        <a class="multi-button cmd-edit cmd-delete cmd-add-example cmd-sort" href="#"><span></span></a>
      <% else %>
        &nbsp;
      <% end %>
    </div>

  </div>

  <ol id="<%= path_to_id(valency_examples_path(valency)) %>"
      class="examples column">
    <%= render :partial => "lemmata/example",
               :collection => valency.examples,
               :locals => { :exampleable => valency } %>
  </ol>

</li>

