<li id="<%= path_to_id(valency_path(valency)) %>"
    class="valency column span-24 last">

  <div class="subentry span-24 last">

    <%= render :partial => "subentries/margin",
               :locals => {
                 :subentry => valency,
                 :side => 1
               } %>

    <div class="span-6 form1">
      <%= underline valency.form1 %>
    </div>

    <div class="span-6 form2">
      <%= underline valency.form2 %>
    </div>

    <%= render :partial => "subentries/margin",
               :locals => {
                 :subentry => valency,
                 :side => 2
               } %>

    <%= render :partial => 'lemmata/subentry_margin',
               :locals => { :cmds => %w"edit deleteEntry addExample sortEntries" } %>

  </div>

  <ol id="<%= path_to_id(valency_examples_path(valency)) %>"
      class="examples column">
    <%= render :partial => "lemmata/example",
               :collection => valency.examples,
               :locals => { :exampleable => valency } %>
  </ol>

</li>

