<div id="valency_<%= valency.id %>" class="valency span-24 last">

  <div class="span-2">
    <% if current_user_is_admin then %>
      <% link_to(edit_lemma_valency_path(@lemma, valency)) do %>
        <%= image_submit_tag 'icons/notebook_pencil.png' %>
      <% end %>
      <% link_to([@lemma, valency], {:confirm => t(:confirm_question), :method => :delete}) do -%>
        <%= image_submit_tag 'icons/notebook_minus.png' %>
      <% end %>
    <% else %>
      &nbsp;
    <% end %>
  </div>


  <div class="span-5">
    vp:
    <span class="syntax"><%= h valency.syntax1 %></span>
    <% if valency.synonym1.present? -%>
      <span class="synonym">syn: <%= h valency.synonym1 %></span>
    <% end %>
  </div>

  <div class="span-6">
    <%= h valency.form1 %>
  </div>

  <div class="span-6">
    <%= h valency.form2 %>
  </div>

  <div class="span-5 last">
    vp:
    <span class="syntax"><%= h valency.syntax2 %></span>
    <% if valency.synonym2.present? -%>
      <span class="synonym">syn: <%= h valency.synonym2 %></span>
    <% end %>
  </div>

</div>

