<li id="<%= path_to_id(valency_path(valency)) %>"
    class="valency column span-24 last">

  <div class="subentry span-24 last">

    <%= render :partial => "subentries/margin",
               :locals => {
                 :subentry => valency,
                 :side => 1
               } %>

    <div class="span-6 form1">
      <%= underline valency.form1 %>
    </div>

    <div class="span-6 form2">
      <%= underline valency.form2 %>
    </div>

    <%= render :partial => "subentries/margin",
               :locals => {
                 :subentry => valency,
                 :side => 2
               } %>

    <div class="span-2 last">
      <% if current_user_is_admin then %>
        <a class="multi-button cmd-edit cmd-deleteEntry cmd-addExample cmd-sortEntries"
           href="#"><span></span></a>
      <% else %>
        &nbsp;
      <% end %>
    </div>

  </div>

  <ol id="<%= path_to_id(valency_examples_path(valency)) %>"
      class="examples column">
    <%= render :partial => "lemmata/example",
               :collection => valency.examples,
               :locals => { :exampleable => valency } %>
  </ol>

</li>

