<h1>Editing lemma</h1>

<% form_for(@lemma) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :short1 %><br />
    <%= f.text_field :short1 %>
  </p>
  <p>
    <%= f.label :short2 %><br />
    <%= f.text_field :short2 %>
  </p>
  <p>
    <%= f.label :long1 %><br />
    <%= f.text_field :long1 %>
  </p>
  <p>
    <%= f.label :long2 %><br />
    <%= f.text_field :long2 %>
  </p>
  <p>
    <%= f.label :phonetic1 %><br />
    <%= f.text_field :phonetic1 %>
  </p>
  <p>
    <%= f.label :phonetic2 %><br />
    <%= f.text_field :phonetic2 %>
  </p>
  <p>
    <%= f.label :class1 %><br />
    <%= f.text_field :class1 %>
  </p>
  <p>
    <%= f.label :class2 %><br />
    <%= f.text_field :class2 %>
  </p>
  <p>
    <%= f.label :level1 %><br />
    <%= f.text_field :level1 %>
  </p>
  <p>
    <%= f.label :level2 %><br />
    <%= f.text_field :level2 %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', @lemma %>
