<p>
  <b>Short1:</b>
  <%=h @lemma.short1 %>
</p>

<p>
  <b>Short2:</b>
  <%=h @lemma.short2 %>
</p>

<p>
  <b>Long1:</b>
  <%=h @lemma.long1 %>
</p>

<p>
  <b>Long2:</b>
  <%=h @lemma.long2 %>
</p>

<p>
  <b>Phonetic1:</b>
  <%=h @lemma.phonetic1 %>
</p>

<p>
  <b>Phonetic2:</b>
  <%=h @lemma.phonetic2 %>
</p>

<p>
  <b>Class1:</b>
  <%=h @lemma.class1 %>
</p>

<p>
  <b>Class2:</b>
  <%=h @lemma.class2 %>
</p>

<p>
  <b>Level1:</b>
  <%=h @lemma.level1 %>
</p>

<p>
  <b>Level2:</b>
  <%=h @lemma.level2 %>
</p>


<%= link_to 'Edit', edit_lemma_path(@lemma) %> |
<%= link_to 'löschen', lemma_path(@lemma), :method => "delete", :confirm => "Sind Sie sicher, dass dieses Lemma gelöscht werden soll?" %>
