<table>
  <thead>
    <% content_tag_for(:tr, @lemma) do %>
      <th class="">
        <span class="phonetic" title="<%= t(:lemma_phonetic) %>">{<%= h @lemma.phonetic1 %>};</span>
        <span class="class" title="<%= t(:lemma_class) %>">cl: <%= h @lemma.class1 %>;</span>
        <span class="level" title="<%= t(:lemma_level) %>">l: <%= h @lemma.level1 %>;</span>
      </th>
      <th class="short"><%= h @lemma.short1 %></th>
      <th class="short"><%= h @lemma.short2 %></th>
      <th class="">
        <span class="phonetic" title="<%= t(:lemma_phonetic) %>">{<%= h @lemma.phonetic2 %>};</span>
        <span class="class" title="<%= t(:lemma_class) %>">cl: <%= h @lemma.class2 %>;</span>
        <span class="level" title="<%= t(:lemma_level) %>">l: <%= h @lemma.level2 %>;</span>
      </th>
    <% end %>
  </thead>
  <tbody>
    <% @lemma.examples.each do |example| -%>
      <% content_tag_for(:tr, example) do %>
        <td class=""></td>
        <td class=""><%= h example.form1 %></td>
        <td class=""><%= h example.form2 %></td>
        <td class=""></td>
      <% end %>
    <% end %>
  </tbody>
</table>

<!--
<p>
  <b>Long1:</b>
  <%=h @lemma.long1 %>
</p>

<p>
  <b>Long2:</b>
  <%=h @lemma.long2 %>
</p>
 -->

<% content_for :sidebar do %>
  <p>
    <%= link_to t(:edit), edit_lemma_path(@lemma) %>
  </p>
  <p>
    <%= link_to t(:delete), lemma_path(@lemma), :confirm => t(:confirm_question), :method => :delete %>
  </p>
  <p>
    <%= link_to h(@category.name), @category %>
  </p>
  <p>
    <%= link_to t(:add_example), new_lemma_example_path(@lemma) %>
  </p>
<% end %>
