<div id="<%= path_to_id(lemma_path(@lemma)) %>" class="lemma span-24 last">

  <%= render :partial => "lemma" %>

  <div class="subentries span-24 last">
    <%= render :partial => "examples" %>
    <%= render :partial => "valencies" %>
    <%= render :partial => "collocations" %>
    <%= render :partial => "phraseologisms" %>
  </div>

</div>

<%= render :partial => "multi_button" %>
<%= render :partial => "done" %>
<%= image_tag("drag_handle.gif", :id => "drag-handle",
                                 :style => "display: none;") %>
