<div id="lemma_<%= @lemma.id %>" class="span-24 last">

  <div class="prepend-2 span-22 last">
    <h1>
      <span class="quiet"><%= t(:lemma) %></span>
      <%= h @lemma.short1 %> · <%= h @lemma.short2 %>
    </h1>

    <% @categories.each do |category| -%>
      <h2 class="quiet">
        <%= t(:category) %>
        <ul class="ancestors">
          <% category.self_and_ancestors.each do |node| -%>
            <li>
              <%= link_to h(node.name), node %>
            </li>
          <% end %>
        </ul>
      </h2>
    <% end %>
  </div>

  <div class="span-2">
    <% if current_user_is_admin then -%>
      <% link_to(edit_lemma_path(@lemma)) do %>
        <%= image_submit_tag 'icons/pencil_small.png' %>
      <% end %>
      <% link_to(@lemma, {:confirm => t(:confirm_question), :method => :delete}) do -%>
        <%= image_submit_tag 'icons/minus_small.png' %>
      <% end %>
    <% else %>
      &nbsp;
    <% end %>

  </div>

  <div class="entry-line span-22 last">
    <div class="span-5">
      <span class="phonetic" title="<%= t(:lemma_phonetic) %>">{<%= h @lemma.phonetic1 %>};</span>
      <span class="word_class" title="<%= t(:lemma_word_class) %>">cl: <%= h @lemma.word_class %>;</span>
      <span class="level" title="<%= t(:lemma_level) %>">l: <%= h @lemma.level %></span>
    </div>

    <div class="span-6 short">
      <%= h @lemma.short1 %>
    </div>
    <div class="span-6 short">
      <%= h @lemma.short2 %>
    </div>

    <div class="span-5 last">
      <span class="phonetic" title="<%= t(:lemma_phonetic) %>">{<%= h @lemma.phonetic2 %>};</span>
      <span class="word_class" title="<%= t(:lemma_word_class) %>">cl: <%= h @lemma.word_class %>;</span>
      <span class="level" title="<%= t(:lemma_level) %>">l: <%= h @lemma.level %></span>
    </div>
  </div>


  <div class="subentries span-24 last">

    <hr class="space"/>

    <%= render :partial => "examples" %>

    <hr class="space"/>

    <%= render :partial => "valencies" %>

    <hr class="space"/>

    <div class="span-2">
      <% if current_user_is_admin then %>
        <% link_to(new_lemma_collocation_path(@lemma)) do %>
          <%= image_tag 'icons/plus_small.png' %>
        <% end %>
      <% else %>
        &nbsp;
      <% end %>
    </div>

    <div class="subentry-line span-22 last">
      <%= t(:collocations) %>
    </div>

    <%= render :partial => "collocation", :collection => @collocations %>

    <hr class="space"/>

    <div class="span-2">
      <% if current_user_is_admin then %>
        <% link_to(new_lemma_phraseologism_path(@lemma)) do %>
          <%= image_tag 'icons/plus_small.png' %>
        <% end %>
      <% else %>
        &nbsp;
      <% end %>
    </div>

    <div class="subentry-line span-22 last">
      <%= t(:phraseologisms) %>
    </div>

    <%= render :partial => "phraseologism", :collection => @phraseologisms %>

  </div>

</div>

<%= render :partial => "multi_button" %>

