<h1>Listing users</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Login count</th>
    <th>Last request at</th>
    <th>Last login at</th>
    <th>Current login at</th>
    <th></th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.login %></td>
    <td><%=h user.login_count %></td>
    <td><%=h user.last_request_at %></td>
    <td><%=h user.last_login_at %></td>
    <td><%=h user.current_login_at %></td>
    <td>
      <%= link_to 'Show', user %>
      <%= link_to 'Edit', edit_user_path(user) %>
      <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
      <% if user != current_user -%>
        <% if user.admin? -%>
          <%= link_to 'remove admin', user_admin_path(user), :confirm => 'Are you sure?', :method => :delete %>
        <% else -%>
          <%= link_to 'add admin', user_admin_path(user), :method => :put %>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
