<h1>New example</h1>

<% form_for([@exampleable, @example]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :form1 %><br />
    <%= f.text_field :form1 %>
  </p>
  <p>
    <%= f.label :form2 %><br />
    <%= f.text_field :form2 %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', @exampleable %>
