<h1><%= t :edit_category %></h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, t(:category_name) %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :parent_id, t(:parent_category) %><br />
    <%= f.select :parent_id, category_options.insert(0, ["", ""]) %>
  </p>
  <p>
    <%= f.submit t(:edit) %> <%= link_to t(:back), @category %>
  </p>

<% end %>
