<h1><%= t :categories %></h1>

<ul id="categories">
  <% for category in @categories %>
    <% content_tag_for(:li, category) do %>
      <%=link_to h(category.name), category %>
    <% end %>
  <% end %>
</ul>

<% if @orphans then %>
<h2><%= t :orphaned_lemmata %></h2>
<ul id="orphans">
  <% for orphan in @orphans %>
    <% content_tag_for(:li, orphan) do %>
      <%=link_to h(orphan.short1), orphan %>
    <% end %>
  <% end %>
</ul>
<% end %>


<% if current_user_is_admin then %>

  <div id="admin-buttons" class="column span-24 last">
    <a href="<%= new_lemma_path %>" class="button">
      <%= image_tag 'icons/plus.png' %>
      <%= t(:add_lemma) %>
    </a>
    <a href="<%= new_category_path %>" class="button">
      <%= image_tag 'icons/plus.png' %>
      <%= t(:add_category) %>
    </a>
    <a href="<%= users_path %>" class="button">
      <%= image_tag 'icons/user.png' %>
      <%= t(:user_administration) %>
    </a>
  </div>
<% end %>
