<h1><%= t :new_category %></h1>

<% form_for(@category) do |f| %>

  <p>
    <%= f.label :name, t(:category_name) %><br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :parent_id, t(:parent_category) %><br />
    <%= f.select :parent_id, category_options.insert(0, ["", ""]),
                 :selected => @parent && @parent.id.to_i %>
  </p>

  <p>
    <%= f.submit t(:create) %> <%= link_to t(:back), @parent ? @parent : categories_path %>
  </p>
<% end %>

