<h1><%= t :new_category %></h1>

<% form_for(@category) do |f| %>

  <p>
    <%= f.label t(:category_name) %><br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit t(:create) %>
  </p>
<% end %>

<%= link_to t(:back), categories_path %>

