<ul class="ancestors">
  <li><%= link_to "Top", categories_path %></li>
  <% for ancestor in @category.ancestors -%>
    <li><%= link_to ancestor.name, ancestor %></li>
  <% end %>
</ul>

<p>
  <%= link_to 'editieren', edit_category_path(@category) %>
  <%= link_to 'löschen', @category, :confirm => 'Sind Sie sicher?', :method => :delete %>
</p>

<h1><%=h @category.name %></h1>

<ul>
  <% for child in @children %>
    <li>
      <%=link_to child.name, child %>
    </li>
  <% end %>
</ul>

<%= render :partial => "new_category", :locals => { :account => @category } %>


<h2>Lemmata</h2>

<% if @lemmata.empty? then %>
  <div class="notice">
    Diesem Themengebiet sind bisher keine Lemmata zugeordnet.
  </div>
<% end %>

<ul>
  <% for lemma in @lemmata %>
    <li><%= link_to "#{lemma.short1} · #{lemma.short2}",
                    category_lemma_path(@category, lemma) %></li>
  <% end %>
</ul>

<%=link_to 'Lemma hinzufügen', new_category_lemma_url(@category) %>

