<ul class="ancestors">
  <li><%= link_to "Top", categories_url %></li>
  <% for ancestor in @category.ancestors -%>
    <li><%= link_to ancestor.name, ancestor %></li>
  <% end %>
</ul>

<p>
  <%= link_to 'editieren', edit_category_path(@category) %>
  <%= link_to 'löschen', @category, :confirm => 'Sind Sie sicher?', :method => :delete %>
</p>

<h1><%=h @category.name %></h1>

<ul>
  <% for child in @children %>
    <li>
      <%=link_to child.name, child %>
    </li>
  <% end %>
</ul>

<%= render :partial => "new_category", :locals => { :account => @category } %>

