<h1><%= t(:new_deck) %></h1>

<% form_for([current_user, @deck]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, :label => t(:deck_name) %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit t(:create) %>
  </p>
<% end %>

<%= link_to 'Back', user_decks_path(current_user) %>
