<div id="speedy-search">
  <% form_tag(lemmata_path, :method => :get) do %>
    <%= text_field_tag 'q', params[:q].blank? ? t(:search_hint) : params[:q], {
      :id => "search_input",
      :class => "input span-10" + (params[:q].blank? ? " default-as-hint" : "")
    } %>
    <%= image_submit_tag 'icons/magnifier.png', :class => 'search_button' %>
  <% end %>
</div>
<div id="speedy-browse">
  <strong class="large">oder</strong>
  <a href="<%= categories_path %>" class="button">
    <%= image_tag 'icons/cards.png' %>
    <%= t(:browse_categories) %>
  </a>
</div>
<div class="clearfix"></div>
