<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>

  <%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
  <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
  <!--[if IE]>
    <%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection" %>
  <![endif]-->
  <%= stylesheet_link_tag "application", :media => "screen, projection" %>

</head>
<body>

<div id="header">
  <h1>Gomasio</h1>
</div>

<div id="callout">
  <h6 class="loud">die onomasiologische Lernplattform</h6>
</div>


<div id="main" class="container">

  <div id="navigtion" class="span-23 box last">
    <%= link_to "Home", '/' %> ·  <%= link_to "Themengebiete", categories_url %>
  </div>

  <div id="content" class="span-24 last">
    <p style="color: green"><%= flash[:notice] %></p>


    <%= yield  %>
  </div>


  <div id="footer" class="prepend-2 span-20 last">
    <hr />
    2008 - Zentrum virtUOS
  </div>

</div>

</body>
</html>
