<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>

  <%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
  <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
  <!--[if IE]>
    <%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection" %>
  <![endif]-->
  <%= stylesheet_link_tag "application", :media => "screen, projection" %>

</head>
<body>

<div id="header">
  <div class="container">
    <div class="span-8">
      <h1>Gomasio</h1>
    </div>
    <div id="navigation" class="span-16 last">
      <ul>
        <li><%= link_to "Home", '/' %></li>
        <li><%= link_to "Themengebiete", categories_url %></li>
      </ul>
    </div>
  </div>
</div>

<div id="callout">
  <h6 class="loud">die onomasiologische Lernplattform</h6>
</div>


<div id="main" class="container">

  <div id="content" class="span-24 last">

    <hr class="space" />

    <% if flash[:notice] then %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield  %>
  </div>


  <div id="footer" class="prepend-2 span-20 last">
    <hr class="space" />
    <hr />
    2008 - Zentrum virtUOS
  </div>

</div>

</body>
</html>
