<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>

  <%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
  <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
  <%= stylesheet_link_tag "blueprint/buttons", :media => "screen, projection" %>
  <!--[if IE]>
    <%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection" %>
  <![endif]-->
  <%= stylesheet_link_tag "application", :media => "screen, projection" %>

</head>

<body>
<div class="container">
  <div id="head" class="prepend-1 span-22 append-1 last">

    <div class="span-4">
      <%= image_tag("logo.png", :class => "logo") %>
    </div>

    <div class="span-2 active">
      <a href="#search">Suche</a>
    </div>

    <div id="session" class="span-16 last">
      <ul>
        <li>
          <a href="#help">Hilfe</a>
        </li>
        <li>
          <a href="#admin">Administration</a>
        </li>
        <li>
          <a href="#signout">Ausloggen</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="prepend-1 span-20 append-3 last">
    <div id="speedy">
      <input type="text" autocomplete="off" value="SEARCH" size="30" id="search_input" name="search" class="input"/>
    </div>
  </div>

  <div class="prepend-1 span-20">
    <div id="content">
      <% if flash[:notice] then %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>

      <%= yield  %>
    </div>
  </div>

  <div class="span-3 last">
    <div id="sidebar" class="span-6 last">
      <%= yield :sidebar %>
    </div>
  </div>

  <div id="footer" class="prepend-1 span-20 last">
    2008 - Zentrum virtUOS
  </div>

</div>
</body>
</html>
