<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>

  <%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
  <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
  <!--[if IE]>
    <%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection" %>
  <![endif]-->
  <%= stylesheet_link_tag "application", :media => "screen, projection" %>

</head>

<body>
<div class="container">
  <div id="head">

    <div class="span-4">
      <% link_to('/') do %>
        <%= image_tag("logo.png", :alt => "logo") %>
      <% end %>
    </div>

    <div class="span-2 active">
      <a href="#search">Suche</a>
    </div>

    <div id="session">
      <ul>
        <% if !current_user %>
          <li>
            <%= link_to "Sign Up", new_account_path %>
          </li>
          <li>
            <%= link_to "Sign In", new_user_session_path %>
          </li>
        <% else %>
          <li>
            <% link_to(new_issue_path) do %>
              <%= image_tag("bug.png", :id => "issues",
                                       :alt => "issues",
                                       :title => "issues") %>
            <% end %>
          </li>
          <li>
          <%= link_to "My Account", account_path %>
          </li>
          <li>
          <%= link_to "Sign Out", user_session_path, :method => :delete %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

  <div id="speedy">
    <%= render :partial => "/speedy" %>
  </div>

  <div id="content">
    <% if flash[:notice] then %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield  %>

    <div class="clear"></div>
  </div>

  <div id="footer">
    © 2008 - Zentrum virtUOS
  </div>

</div>

<%= sprockets_include_tag %>
<%= javascript_tag "BILEXICON.token = '#{form_authenticity_token}'" %>
</body>
</html>
