<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>

  <%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
  <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
  <!--[if IE]>
    <%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection" %>
  <![endif]-->

  <%= stylesheet_link_tag "overcast/jquery-ui-1.8.11.custom.css", :media => "all" %>

  <%= stylesheet_link_tag "application", :media => "screen, projection" %>

  <%= include_javascripts :workspace %>
  <%= include_javascripts :admin if current_user_is_admin %>

  <%= javascript_tag "BILEXICON.token = '#{form_authenticity_token}'" %>

</head>

<body id="page-<%= path_to_id(url_for(:id => nil)) %>">
<div class="container">
  <div id="head">

    <div class="column span-3">
      <% link_to('/') do %>
        <%= image_tag("logo.png", :alt => "logo") %>
      <% end %>
    </div>


    <div class="column span-21 last" style="text-align: right;">
      <a href="<%= categories_path %>" class="button" style="display: inline; float: none; margin-right: 1.5em;">
        <%= image_tag 'icons/cards.png' %>
        <%= t(:browse_categories) %>
      </a>

      <% form_tag(lemmata_path, :method => :get, :class => "searchform") do %>
        <%= text_field_tag 'q', params[:q], {
            :id => "search_input",
            :class => "searchfield",
            :placeholder => t(:search_hint)
        } %>
        <input class="searchbutton" type="submit" name="go" value="Go" />
      <% end %>
    </div>

  </div>


  <div id="session" class="column span-24 last">
    <ul>
      <% if !current_user %>
        <li>
          <%= link_to "Sign Up", new_account_path %>
        </li>
        <li>
          <%= link_to "Sign In", new_user_session_path %>
        </li>
      <% else %>
        <li>
          <% link_to(new_issue_path) do %>
            <%= image_tag("bug.png", :id => "issues",
                                     :alt => "issues",
                                     :title => "issues") %>
          <% end %>
        </li>
        <li>
        <%= link_to "My Account", account_path %>
        </li>
        <li>
        <%= link_to "Sign Out", user_session_path, :method => :delete %>
        </li>
      <% end %>
    </ul>
  </div>


  <div id="content">
    <% if flash[:notice] then %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield  %>

    <div class="clear"></div>
  </div>

  <div id="footer">
    © 2010 - Zentrum virtUOS
  </div>

</div>

</body>
</html>
